
<div style="text-align: center;">
    <div class="jumbotron centered" style="width: 50vw; margin: auto; margin-top: 20vh; box-shadow: 0 0 4px 6px blueviolet;">
      <div class="container" style="display: flex;  justify-content: space-around; align-items: center; width: 50vw;">
        <a class="btn btn-danger btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    
      </div>
    </div>
</div>