<%- include('partials/header') %>
<div class="container mt-5">
  <h1>Reset Password</h1>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <ul>
            <%if(msg){%>
              <li><%= msg%></li>
            <%}%>
          </ul>

          <!-- Makes POST request to /register route -->
          <form action="/reset" method="POST">
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <div class="form-group">
              <label for="re-password">Re-enter Password</label>
              <input type="re-password" class="form-control" name="re-password">
            </div>
            <button type="submit" class="btn btn-dark">reset</button>
          </form>

        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/header') %>
